h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 70px;
}

.col-xs-1, .col-xs-5{
    height: 45px;
    /* background-color: black; */
}

.green{
    background-color: rgb(1 225 101);
}

.blue{
    background-color: rgb(0 21 52);
}

.yellow{
    background-color: yellow;
}

.col-mid{
    width: 50%;
    height: 45px;
    /* border-color: black; */
}

/* .pad-left{
    padding-left: calc(100% / 48);
    
} */